<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <title>Login</title>
  <style>
    body {
      overflow: hidden;
    }

    .login-container {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      text-align: center;
    }

    h2 {
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px salmon;
      border-radius: 6px;
    }
  </style>
</head>

<body>
  <header>
    <div class="home-bar">
      <div class="logo"><a href="/">Store Attendance</a></div>
      <nav>
        <a class="header-button" href="/attendance"">Attendance</a>
      </nav>
    </div>
  </header>

  <div style="display: flex;height: 100vh;width: 100%;justify-content: center;align-items: center;">
    <div class="login-container">
      <h2>Login</h2>
      <div id="login-form">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
      </div>
      <button type="button" id="login-btn">Login</button>
      <p id="msg"></p>
    </div>
  </div>
</body>
<script src="/scripts/authScripts/login.js"></script>

</html>